manifest {
    name        = 'phipflow'
    description = 'Nextflow wrapper for PHIPER object creation, analysis and Quarto report rendering'
    mainScript  = 'main.nf'
}

params {
    /*
     * PHIPER project/data/results root.
     */
    base_dir = '/lisc/data/scratch/ccr/CR_projects/phiper'

    /*
     * Required at runtime or via a profile/config.
     */
    project_name  = null
    metadata_file = null

    /*
    * Analysis groups.
    *
    * group_cols:
    *   Comma-separated metadata columns to analyse, or names from group_config.R.
    *
    * output_group_mode:
    *   Controls how result folders are named when using group_config.R.
    *
    *   'group_name' = use the global list name from group_config.R.
    *                  This is the recommended default because it keeps different
    *                  comparison sets separated, e.g.
    *                  group_test_within_timepoints
    *                  group_test_between_baseline_other_timepoints
    *
    *   'group_col'  = use the metadata column name, e.g.
    *                  group_test_Timepoint
    *                  group_test_Etiology_Timepoint
    */
    group_cols = null
    output_group_mode = 'group_name'

    /*
     * Optional report groups.
     */
    report_group_cols = null

    /*
     * Input/output file names.
     */
    exist_file  = 'exist.csv'
    fold_file   = 'fold.csv'
    out_parquet = null

    /*
     * 01-create_phiper_object.R options.
     */
    sample_prefix = 'R'
    peptide_col   = 'peptide_name'
    replace_inf   = 'TRUE'

    /*
     * 02-run_phiper_analysis.R options.
     */
    all                    = 'FALSE'
    default_longitudinal   = 'FALSE'
    manual_comparison_file = 'NULL'
    force                  = 'false'

    /*
    * Peptide library used by POP/DELTA.
    * If null, main.nf defaults to:
    *   <projectDir>/peplib/peptide_library.rds
    */
    peptide_library = null

    /*
    * Name of the results directory inside each PHIPER project.
    */
    results_name = "results"


    /*
    * Categories used for Delta frameworks statistics peptides aggregation.
    */
    rank_cols = [
    "genus",
    "species"
    ]
    /*
    * Type of aggregation statistic for Delta framework: by default "af" but also "maxmean" is possible (check main.nf)
    */
    aggregate_stat = "af"

    /*
    * Minimum m_eff used for the filtered DELTA table/plots.
    */
    delta_min_m_eff = 5

    /*
     * Runtime environment.
     *
     * use_modules = true:
     *   Load LiSC modules inside processes, e.g. R, Quarto, Pandoc.
     *
     * use_modules = false:
     *   Use tools from the container instead.
     */
    use_modules = true

    /*
     * Container image used by the apptainer profile.
     */
    container = null
}

process {
    executor = 'slurm'
    errorStrategy = 'terminate'
    maxRetries = 0

    withLabel: create_object {
        cpus = 1
        memory = '25 GB'
        time = '30 min'
    }

    withLabel: run_analysis {
        cpus = 20
        memory = '80 GB'
        time = '15 h'
    }

    withLabel: render_reports {
        cpus = 1
        memory = '10 GB'
        time = '30 min'
    }
}

executor {
    queueSize = 20
}

profiles {
    lisc {
        process.executor = 'slurm'
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = '/lisc/data/scratch/ccr/CR_projects/phiper/.apptainer_cache'

        params.use_modules = false
        params.container = "${projectDir}/containers/phipflow-r4.6.0-quarto1.9.37.sif"

        process.container = params.container
    }

    docker {
        process.executor = 'local'

        docker.enabled = true
        docker.fixOwnership = true

        params.use_modules = false
        params.container = 'ghcr.io/csreynab/phipflow-r4.6.0-quarto1.9.37:0.1.0'

        process.container = params.container

        /*
         * Needed because phipflow uses absolute paths for:
         *   - params.base_dir
         *   - projectDir
         */
        docker.runOptions = "-v ${params.base_dir}:${params.base_dir} -v ${projectDir}:${projectDir}"
    }

    /*
     * Default small test case.
     *
     * Run:
     *   nextflow run main.nf -profile lisc,apptainer,test -resume
     */
    test {
        params.project_name  = 'IBD-Berlin'
        params.metadata_file = 'IBD-Berlin_metadata.csv'
        params.group_cols    = 'group_test'
        params.report_group_cols = null
        params.out_parquet   = null

        params.all                    = 'FALSE'
        params.default_longitudinal   = 'FALSE'
        params.manual_comparison_file = 'NULL'
        params.output_group_mode      = 'group_name'

    }


    local_run {
        process.executor = 'local'

        process {
            withLabel: create_object {
                cpus = 1
                memory = '8 GB'
                time = '1 h'
            }

            withLabel: run_analysis {
                cpus = 8
                memory = '16 GB'
                time = '8 h'
            }

            withLabel: render_reports {
                cpus = 1
                memory = '8 GB'
                time = '1 h'
            }
        }
    }

}
